* {
    box-sizing: border-box;
  }
  
  .task-manager {
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .item-task {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 50px;
  }
  
  .item-task p {
    font-size: 20px;
    padding-left: 5px;
  }
  
  .error {
    display: flex;
  }
  
  .error-close {
    text-align: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
  }
  
  .error-close p {
    color: white;
  }
  
  .hidden {
    visibility: hidden;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  
  .checked {
    margin-left: 160px;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding-top: 3px;
  }
  